/* styles.css */

/* Genel stiller */

/* Login sayfası için özgü stiller */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfe9f5; /* Purple background */
    padding-top: 20px; /* Navbar yüksekliğine göre ayarlayın */
}

.login-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.login-form {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h1 {
    margin-bottom: 1rem;
}

.login-form .form-control {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form .btn {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    /* background-color: #6a0dad; */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login-form .forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.login-form .forgot-password a {
    text-decoration: none;
}

.login-form .forgot-password a:hover {
    text-decoration: underline;
}

.login-form .signup {
    text-align: center;
}

.login-form .signup a {
    text-decoration: none;
}

.login-form .signup a:hover {
    text-decoration: underline;
}

.login-info {
    background: url('{% static "images/analysis.png" %}') no-repeat center center;
    background-size: cover;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    text-align: center;
}

.login-info h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.login-info p {
    font-size: 1.2rem;
}
